div.wrapper{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background-color: #34495E;
    color: white;
    
 display: flex;
 align-items: center;
 justify-content: center;
text-align: center;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
letter-spacing: 2rem;
height: 100px;
font-size: 30px;
}
h2{
    display: flex;
    text-align: right;
    justify-content:center ;
    align-items: center;
    padding: 20px;
     font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: light;
  font-size: 32px;
  letter-spacing: 2.5px;
  word-spacing: 10px;
  opacity: 50%;
  
}
section.conteneur{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

}

a article{
    display: flex;
    flex-direction: row 1fr 1fr;
    gap: 100px;
    justify-content: center;
    padding: 50px;
    align-items: center;
    
width: 700px;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: light;
  font-size: 25px;
color: black;
}
span{
    width: 150px;
    height: 150px;
    border: 2px,solid #D35400;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #D35400;
    background-color: white;
    
}

a article:hover{
    background-color: lightgrey;
}
section.texte .wrapper{
    display: flex;
    flex-direction: column 1fr 1fr;
    justify-content: center;
    align-items: start;
}
p{
    width: 400px;
    padding: 20px;
    line-height: 35px;
    text-align: left;
font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.footer .wrapper{
    display: flex;
    justify-content: space-between;
   align-items: center;

}
.footer a span{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color:black;
    border-color: #BDC3C7;
}
footer{
    background-color: #2980B9;
    
}
footer p {
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: bold;
}
footer a{
    text-decoration: none;
    display: block;
}
a{
    text-decoration: none;
}